@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center contain">
    <h1>Thank you for RSVPing!</h1>
    <h5>It's great that you're coming. The drinks are already in the fridge!</h5>
    <h5>Click <a asp-action="Index">here</a> to see who else is coming.</h5>
</div>
