@{
    ViewData["Title"] = "About";
}

<h1>About the Party</h1>
<p>
    You're Invited to A<br/>
    Pumpkin Carving Party<br/>
    Saturday, October 24<br/>
    1-4 PM<br/>
    1313 Jack Lantern Drive, SpookyTown<br/>
    B.Y.O.P. (Bring Your Own Pumpkin)
    <a asp-controller="Guests" asp-action="Create">RSVP</a> here by Oct. 17<br/>
    Join Us For A<br />
    Halloween Pumpkin Carving Party<br/>
    We've Got the Pumpkins (and Refreshments, Too!)<br/>
    Bring Your Pumpkin to Our<br/>
    Halloween Pumpkin Carving Party<br/>
    We'll Have Food, Drinks, and Trick-or-Treats!<br/>
    Pumpkins Beware!<br/>
    We're Having A<br/>
    Pumpkin Carving Party<br/>
    Bring a
    <del>Victim</del>
    Pumpkin to Carve
</p>
