@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center contain">
    <h2>We are going to have an exciting party!</h2>
    <h3>And YOU are invited!</h3>
    <input type="button" class = "btn btn-primary" value="RSVP Now" onclick="location.href='@Url.Action("Create", "Guests")'" />
</div>